*{
	box-sizing: border-box;
}

html{
	font-family: 'Lato', sans-serif;
}

.lateral{
	background-color:#3385AD;
	bottom: 0;
	right: 0px;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
	position:fixed;
	top: 0;
	width: 350px;
}



/* Perfil */

.perfil__circulo{
	border-radius: 50%;
	border: 3px solid black;
	height: 50px;
	overflow: hidden; /*Todo lo que queda afuera de la caja de 50x50 se queda escondido*/
	margin: 0;
	width: 50px;

}

.perfil__foto{
	width:100%;
}

.perfil__nombres {
	color: #fff;
	font-size: 20px;
	margin-left:.5em;
	width: 250px;
}

.perfil__nombres, .perfil__circulo{
	display: inline-block;
	vertical-align:middle;
}

/*Informacion*/

.informacion{
	color: #003366;
/*	position:absolute;
*/	bottom: 1em;	
}

.informacion__titulo{
	font-size: 18px;
}
.informacion__habilidades{
	padding:0px 25px 0px 25px;
}

.listado__lenguajes{
	padding:0px 0px 0px 25px;
}




/*Habilidades*/
.habilidades {
	padding: 0;
}

/*.habilidad{
	background-color: #0F6A62;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	padding: .5em;
	font-size: 12px;
} */ /*Lo saque de uso para que todas las habilidades queden iguales*/ 

.habilidad{
	background-color: #29597C;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	padding: .5em;
	font-size: 12px;
}

/*Proyectos*/

.proyectos{
	margin-right:350px;
	padding: 1em;
	display: table;
}
.proyecto{
	display: table-cell;
	padding: 1em;
	width:50%;
}

.proyecto__imagen{
	width:100%;
	border:5px solid black;
}

.proyecto__titulo{
	color: #29597C;
	font-size:20px;
}

.proyecto__descripcion{
	color:#797D7F;	
}

.proyecto__subtitulo{
	color: #29597C;
	font-style: italic;
	font-size:16px;
}


.version
{
	background-color: #3385AD;
	color: #003366;
	padding:8px;
}

caption{
	border: 3px solid black;
	padding: 3px 14px 3px 14px;
	background-color: #76b6d6;
	border-collapse: collapse;

}

table{
	border: 3px solid black;
	border-top-color: unset;
	width: 95%;
	font-size: 20px;
	background-color: #76b6d6;
	border-collapse: collapse;
	position:absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

thead{
	border-bottom: 3px solid black;
}

tr{
	border: 1px solid black;	
}

td {
	padding: 3px 14px 3px 14px;
}

.lenguaje{
	font-size: 80%;
	padding: 10px;
}

.encabezado{
	background-color: #76b6d6;
	font-size: 90%

}

.caja__llena{
	background-color: #0F3366;
	color: #99ccff;
}

.caja__vacia{
	background-color: unset;
}


/*Para Celulares Jajaja que macana!*/

@media (max-width: 600px){
.lateral{
	
	margin-right: initial;
	position: relative;
	width: initial;


}

@media (max-width: 600px) {

.proyectos{

	margin-right: initial;

}
}

@media {
	table{
		position:relative;
	}
}